{%extends "base.html"%}

{%block title%} {{picture.name}} {%endblock%}
    
{%block body%} 

<a href={%url 'index' %}>List of pictures</a>
</br>
</br>
</br>

<h1> {{picture.name}} </h1>

<svg width="{{picture.width}}" height="{{picture.height}}" viewBox="0 0 {{picture.width}} {{picture.height}}" version="1.1" xmlns="http://www.w3.org/2000/svg">
    {%for rectangle in rectangles%}
        <rect x="{{rectangle.x}}" y="{{rectangle.y}}" width="{{rectangle.width}}" height="{{rectangle.height}}" fill="{{rectangle.fill}}"></rect>
    {%endfor%}
</svg>

<h2> Information </h2>
<h3> Size </h3>
{{picture.width}}x{{picture.height}}

{%if auth%}
<h2> Rectangles </h2>

<table>
    <tr>
        <th>x</th>
        <th>y</th>
        <th>width</th>
        <th>height</th>
        <th>color</th>
        <th>actions</th>
    </tr>

    {%for rectangle in rectangles%}
    <tr>
        <td>{{rectangle.x}}</td>
        <td>{{rectangle.y}}</td>
        <td>{{rectangle.width}}</td>
        <td>{{rectangle.height}}</td>
        <td>{{rectangle.fill}}</td>
        <td><a href="/cms/{{picture.id}}/{{rectangle.id}}/delete">Delete</a></td>
    </tr>
    {%endfor%}
</table>

<h2> Add new rectangle </h2>

<form action="/cms/{{picture.id}}/" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Add"/>
</form>

{%endif%}

{%endblock%}